html,body {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	background: #EDEDED;
}


* .container {
	background: #FFF;
}

header {
	margin-top: 120px;
}

header .photo-header {
	text-align: center;
	border-bottom: 5px double #EDEDED;
}

header .photo-header > img {
	border-radius: 50%;
	margin-top: -75px;
	border: 10px solid #EDEDED;
}

header .photo-header h1{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

header .photo-header h1 > span {
	color: #F0563D;
}


.main h2 {
	color: #F0563D;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.1rem;
}

.main h2::before {
	content: "// ";

}


.main .education .year {
	font-weight: bold;
	font-size: 1.5rem;
}
	
	.education .description {
		background: #EEE;
		padding-top: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #DDD; 
		/* margin-left: 10px; */
		position: relative;
	}
	.education .description > h3 {
		margin-top: 0;
		font-size: 1.7rem;
		font-weight: bold;
	}

	.education .description::before {
		content: "";
		position: absolute;
		top: 5px;
		left:-20px;
		
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-right: 10px solid #EEE;
		border-bottom: 10px solid transparent;
		border-left: 10px solid transparent;

	}

@media (max-width: 766px) {
	.main .education {
		margin-right: 15px;
	}
}


	.hobbies  span {
		line-height: 30px;
	}

.main .experience h3 {
	font-weight: bold;
	font-size: 1.7rem;
	margin-top: 0;
} 

 	.experience .year p{
		font-weight: bold;
		font-size: 1.7rem;	
		margin-bottom: 0;
	}

	.experience .year small {
		color: #9C9797;
		font-size: 1.2rem;
	}


.main .skills ul {
	list-style-type: none;
	padding-left: 0;
}

	.skills ul li {
		text-transform: uppercase;
		font-size: 1.2rem;
		color: #FFF;
		background: #F0563D;
		font-weight: bold;
		margin-bottom: 5px;
		padding: 2px 10px;
	}

	.skills li[data-percent="100"] { width: 100% } 
	.skills li[data-percent="90"] { width: 90% } 
	.skills li[data-percent="80"] { width: 80% } 
	.skills li[data-percent="70"] { width: 70% } 
	.skills li[data-percent="60"] { width: 60% } 
	.skills li[data-percent="50"] { width: 50% } 
	.skills li[data-percent="40"] { width: 40% } 
	.skills li[data-percent="30"] { width: 30% } 
	.skills li[data-percent="20"] { width: 20% } 
	.skills li[data-percent="10"] { width: 10% } 


.main .lang ul {
	list-style: none;
	padding-left: 0;
}

	.lang li {
		font-size: 1.4rem;
		border-bottom: 1px dotted #EEE;
		padding-bottom: 3px;
	}

	.lang li .rating {
		width: 111px;
		height: 14px;
	}
	.lang li .rating-grey {
		margin-top: 5px;
		float: right;
		background: url(../images/star-grey.png) no-repeat;		
	}

	
	.lang li .rating-red {
		background: url(../images/star-red.png) ;
	}


footer .container{
	padding-top: 30px;
}
footer .copyright { 
	text-align: right;
	font-size: 0.9rem;
	color: #333;
	border-top: 1px solid #EEE;
}